:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
}

:root {
    --background-color: antiquewhite; /* Background color for the entire website, including individual sections */
    --default-color: #272829; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #050d18; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #149ddd; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

:root {
    --nav-color: #a8a9b4; /* The default color of the main navmenu links */
    --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #040b14; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #040b14; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #a8a9b4; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #ffffff; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

.light-background {
    --background-color: #f4fafd;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #040b14;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #151f2b;
    --contrast-color: #ffffff;
}

:root {
    scroll-behavior: smooth;
}

body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.header {
    color: var(--default-color);
    background-color: #0c56d0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    width: 300px;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.header .profile-img img {
    margin: 0 auto 0;
    display: block;
    width: 120px;
}

.header .logo {
    line-height: 1;
    margin-bottom: 15px;
}

.header .logo img {
    max-height: 32px;
    margin-right: 8px;
}

.header .logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
}

.header .social-links {
    margin: 0 0 20px 0;
}

.header .social-links a {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    color: var(--default-color);
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.header .social-links a:hover {
    color: var(--contrast-color);
    background: var(--accent-color);
}

@media (min-width: 1200px) {

    .header ~ main,
    .header ~ #footer {
        margin-left: 300px;
    }
}

@media (max-width: 1199px) {
    .header {
        left: -100%;
    }
}

.header.header-show {
    left: 0;
}

.header .header-toggle {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    transition: background-color 0.3s;
}

.header .header-toggle:hover {
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.mobile-nav-toggle {
    display: none;
}

.navmenu {
    padding: 0;
    z-index: 9997;
}

.navmenu ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
}

.navmenu a,
.navmenu a:focus,
.navmenu div,
.navmenu div:focus{
    color: #d1d2d8;
    padding: 15px 10px;
    font-family: var(--nav-font);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    width: 100%;
}

.navmenu div:hover{
    cursor: pointer;
}

.navmenu div{
    user-select: none;
}

.navmenu a .navicon,
.navmenu a:focus .navicon,
.navmenu div .navicon,
.navmenu div:focus .navicon{
    font-size: 20px;
    margin-right: 10px;
}

.navmenu div .toggle-dropdown,
.navmenu div:focus .toggle-dropdown {
    font-size: 12px;
    line-height: 0;
    margin-left: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    flex-shrink: 0;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
}

.navmenu div .toggle-dropdown:hover,
.navmenu div:focus .toggle-dropdown:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
    color: var(--nav-hover-color);
}

.navmenu a:hover .navicon,
.navmenu .active .navicon,
.navmenu .active:focus .navicon {
    color: #FFFFFF;
}

.navmenu .active .toggle-dropdown,
.navmenu .active:focus .toggle-dropdown {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
}

.navmenu .dropdown {
    display: block;
}

.navmenu .dropdown a,
.navmenu .dropdown a:focus {
    /*color: var(--nav-dropdown-color);*/
}

.navmenu .dropdown a:hover,
.navmenu .dropdown div:hover    ,
.navmenu .dropdown .active,
.navmenu .dropdown .active:focus {
    color: var(--nav-dropdown-hover-color);
}

.navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 5px 10px;
    margin: 5px 10px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

.navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
}

.navmenu .dropdown > .dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--background-color);
    transition: all 0.6s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: var(--accent-color) transparent var(--accent-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0;
}

.scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}


.page-title {
    color: var(--default-color);
    background-color: ghostwhite;
    padding: 25px 0;
    position: relative;
}

.page-title h1 {
    font-size: 24px;
    font-weight: 700;
}

.page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.page-title .breadcrumbs ol li + li {
    padding-left: 10px;
    color: red;
}

.page-title .breadcrumbs ol li + li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    overflow: clip;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 70%);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero .container {
    position: relative;
    z-index: 3;
}

.hero h2 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
}

.hero p {
    margin: 5px 0 0 0;
    font-size: 26px;
}

.hero p span {
    letter-spacing: 1px;
    border-bottom: 2px solid var(--accent-color);
}

.hero .social-links {
    margin-top: 25px;
}

.hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

.hero .social-links a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 20px;
    }
}

.hover-dropdown {
    position: relative;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Giúp menu dính liền với icon, tránh bị mất khi rê chuột */
}

.hover-dropdown .dropdown-menu {
    right: 0 !important; /* Neo chặt vào bên phải */
    left: auto !important; /* Hủy bỏ neo bên trái mặc định */
}

.hover-dropdown .dropdown-menu {
    transition: all 0.3s ease;
    display: none; /* Mặc định ẩn */
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hover-dropdown .dropdown-menu::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;

    right: 14px;
}

.hover-dropdown .dropdown-menu::after {
    top: -8px;

    border-width: 0 8px 8px 8px;
    border-style: solid;

    border-color: transparent transparent #ffffff transparent;

    z-index: 1001;
}

li.fs-4 {
    font-family: var(--nav-font);
}

.mytext {
    max-width: fit-content;
    color: color-mix(in srgb, #0c56d0, transparent 25%);
}

.icon-box {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.nav_font {
    font-family: var(--nav-font) !important;

}

#NameSearch {
    width: 50%;
    transition: width ease-in-out 0.5s;
    border-radius: 1rem;
}

#NameSearch:focus {
    width: 70%;
}

.my_nav {
    gap: 0.6rem;
    display: flex;
    padding: 0.6rem;
}

.my_nav li {
    background-color: lightskyblue;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.05);
}

.my_nav li a {
    display: block;
    color: white;
!important;
    transition: all ease-in-out 0.5s;
    padding: 0.8rem 1.5rem;
    font-weight: 500;
}

.my_nav li:hover {
    background-color: #0b5ed7;
    box-shadow: 0 0.375rem 0.75rem rgba(11, 94, 215, 0.3);
}

.active_nab {
    background-color: #0b5ed7 !important;
    box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
    font-weight: bold;


}

.hover-back:hover {
    background-color: #e9ecef !important; /* Xám đậm hơn chút khi hover */
    color: #000 !important;
}

.score-cell {
    transition: background-color ease-in-out 0.3s;
}

.bg-warning-sub {
    background-color: #ffda6a !important;
}

.nav-items{
     display: block;
    color: white;
    padding: 1rem;
    min-width: 15rem;
    text-align: center;
}

 .my_btn {
        width: 45px;
        height: 45px;
        border-radius: 10px; /* Bo góc vuông nhẹ */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e9ecef;
        transition: all 0.2s;
     background-color: white;
    }
    .my_btn:hover {
        background-color: #0c56d0; /* Màu xanh chủ đạo của bạn */
        color: white !important;
        border-color: #0c56d0;
        transform: translateY(-2px);
    }