{%extends 'Teacher/layout/base.html'%}

{%block title%}
<title>{{current_class.id}}</title>
{%endblock%}

{%block head_title%}
<li class="current fs-4 fw-bold">Quản lý {{current_class.name}}</li>
<li class="current fs-4 fw-bold">Xem danh sách học viên</li>

{%endblock%}


{%block content%}

{%include 'Teacher/layout/tab_nav.html'%}



{%include 'Teacher/layout/main_search.html'%}

{% import "Teacher/layout/main_search.html" as toolbar %}



{%call toolbar.render_toolbar()%}
<!--<a class="btn my_btn shadow-sm" href="#"><i class="bi bi-floppy-fill fs-4"></i></a>-->
<!--            <a class="btn my_btn shadow-sm" href="#"><i class="bi bi-copy fs-4"></i></a>-->
<!--            <a class="btn my_btn shadow-sm" href="#"><i class="bi bi-printer-fill fs-4"></i></a>-->
{%endcall%}
<!--Danh sách-->
<div class="p-4">
    <table class="table table-hover table-bordered">
    <thead class="text-center">
        <tr class="table-primary">
           {%include 'Teacher/layout/table_header.html'%}

            <th>DOB</th>
             <th>Email</th>
            <th>Giới tính</th>
        </tr>
</thead>

        <tbody>
        {%for enroll in enrollments%}
        <tr class="my_rows">
            <td class="text-center">
                <input class="form-check-input cb_class" type="checkbox" name="class_ids" value="CL001">
            </td>
            <td>{{enroll.student.id}}</td>
            <td>{{enroll.student.name}}</td>
            <td>
               {{ enroll.student.dob.strftime('%d/%m/%Y') if enroll.student.dob else '' }}
            </td>
            <td>{{enroll.student.email}}</td>
            <td>
                {%if enroll.student.gender == 0%}
                Nữ
                {%else%}
                Nam
                {%endif%}
            </td>

        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}
