{%extends 'Teacher/layout/base.html'%}

{%block title%}
<title>{{current_class.id}}</title>
{%endblock%}

{%block head_title%}
<li class="current fs-4 fw-bold">Quản lý {{current_class.name}}</li>
<li class="current fs-4 fw-bold">Nhập điểm</li>

{%endblock%}


{%block content%}

{%include 'Teacher/layout/tab_nav.html'%}

                     {%include 'Teacher/layout/main_search.html'%}




<!--Danh sách-->
<div class="p-4">
    <table class="table table-hover table-bordered">

        <thead class="text-center">

        <tr class="table-primary">
                     {%include 'Teacher/layout/table_header.html'%}

             <th>Điểm chuyên cần</th>
            <th>Điểm giữa kỳ</th>
            <th>Điểm cuối kỳ</th>
            <th>Điểm trung bình</th>
            <th>Kết quả</th>
        </tr>
        </thead>
        <tbody>
        {%for s in student%}
        <tr class="my_rows">
            <td class="text-center">
                <input class="form-check-input cb_class" type="checkbox" name="class_ids" value="CL001">
            </td>
            <td>{{s.id}}</td>
            <td>{{s.fullname}}</td>
            <td contenteditable="true" class="editable-cell score-cell">

            </td>
            <td contenteditable="true" class="editable-cell score-cell">

            </td>
            <td contenteditable="true" class="editable-cell score-cell">

            </td>
             <td contenteditable="true" class="editable-cell score-cell">

            </td>
            <td>
                Không đạt
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}
